<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>steinuil</string>
	<key>Builder Version</key>
	<string>7537.77.4</string>
	<key>CFBundleDisplayName</key>
	<string>Buttify</string>
	<key>CFBundleIdentifier</key>
	<string>me.steinuil.buttify</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>script.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery.min.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Replaces all occurrences of "cloud" with "butt".</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/steinuil/Buttify/releases/download/latest/buttify.safariextz</string>
	<key>Website</key>
	<string>https://github.com/steinuil/Buttify</string>
</dict>
</plist>
